/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-transparent-white {
  background-color: rgb(247 247 247 / 75%);
  box-shadow: 0 0 20px -20px black;
}

body {
  color: rgb(26, 26, 26);
  background-color: rgb(247, 247, 247);

  min-height: 100vh;
}